* {
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: Verdana, arial;

}

footer{
  background:burlywood;
}

.gallery{

  margin-top: 50px;

}

.gallery img{

  border-radius: 20%;

}